<button type="button" class="button"> <%= link_to "Add new data", new_fact_path(@fact) %></button>
<hr>
<% @tables.each_pair do |table, data| %>
  <% unless table.empty? %>
    <h2><%= table %></h2>
    <table>
      <tr>
        <% data[:columns].each do |column| %>
        <td><%= column %></td>
        <% end %>
      </tr>
      <% data[:country_data].each do |country| %>
      <tr>
        <% country.each do |value| %>
        <td><%= value %></td>
        <% end %>
      </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
