.menu-text {
  font-size: 1.8rem;
  padding: 0 1.2rem;
}

.border {
  height: .2rem;
  background-color: #69f1fe;
}
button.button a {
  color: white;
}

.chart {
  margin: 1rem;
}

.text-center button {
  margin: 2rem;
}

.flash-notice {
}

.actions input {
  background-color: #1583cc;
  padding: .2rem 1.2rem;
  border-style: none;
  color: white;
  border-radius: 18px;
  margin-bottom: 1rem;
}

.header {
  // text-align: center;
  background: asset-url("red-panda.jpg") no-repeat center center;
  background-size: cover;
  padding: 4rem;

  .main-header {
    color: #fff;
    font-size: 3.8rem;
    text-align: right;
  }
}

.header-subnav {
  float: none;
  position: relative;
  top: 4rem;
  text-align: center;
  margin-bottom: 0;

  li {
    float: none;
    display: inline-block;

    a {
      padding: 0.9rem 1rem 0.75rem;
      font-size: 0.875rem;
      color: #fff;
      text-transform: uppercase;
      display: block;
      font-weight: bold;
      letter-spacing: 1px;

      &.is-active {
        background: rgba(250,250,250,0.7);
        color: #333;
      }

      &:hover {
        background: rgba(250,250,250,0.7);
        color: #333;
        transition: all .25s ease-in-out;
      }
    }
  }
}
