.columns {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.about {
  background-color: #d5ffea;
  padding: 1rem;
}

.example-chart {
  background-color: #f3f3f3;
  padding: 1rem;

  a {
    color: black;
    margin-top: 1rem;
  }
  a:hover {
    color: #1585cf;
  }
}

.pie-size {
  background: asset-url("path.jpg") no-repeat center center;
  height: 300px;
  position: relative;
}

.vertical-center {
  position: absolute;
  top: 25%;

  input {
    background-color: rgba(0,0,0, 0.18);
    border-style: none;
    color: white;
    font-size: 2rem;
    padding: 5rem;
  }

  input:hover {
    color: #abe6ff;
  }
}
