.columns {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.about {
  padding: 2rem;
  background-color: #d5ffea;
  border-radius: 50px;
}

.example-chart {
  background-color: #d5ffea;
  border-radius: 50px;

  a {
    color: black;
    margin-top: 1rem;
  }
  a:hover {
    color: #1585cf;
  }
}

div.module.text-center {
  border-radius: 50px;
}

.learn {
  background-color: #d5ffea;
  border-radius: 50px;
}
