.columns {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.about {
  padding: 1rem;
  background-color: #d5ffea;
}

.example-chart {
  background-color: #F3F3F3;
  padding: 1rem;

  a {
    color: black;
    margin-top: 1rem;
  }
  a:hover {
    color: #1585cf;
  }
}

.pie-size {
  position: relative;
  height: 300px;
  background: asset-url("path.jpg") no-repeat center center;
}

.vertical-center {
  position: absolute;
  top: 25%;

  input {
    border-style: none;
    background-color: rgba(0,0,0, .18);
    padding: 5rem;
    font-size: 2rem;
    color: white;
  }

  input:hover {
    color: #abe6ff;
  }
}
