.curious {
  background: url("curiousity.jpg") no-repeat center center scroll;
  background-size: cover;
}

.curious h1 {
  padding: 3rem;
  color: white;
}

.curious button {
  border-radius: 18px;
}
