<header class="header">
<h1 class="main-header">Impact</h1>
<ul class="header-subnav">
<li><%= link_to "Lets Learn!", data_path %></li>
<li><%= link_to "About", root_path %></li>
<li><a href="#">Take Action!</a></li>
</ul>
</header>
